<tr>
  <td><%= ride.car.decorate.title %></td>
  <td><%= ride.start_point %></td>
  <td><%= ride.end_point %></td>
  <td><%= ride.decorate.start_time %></td>
  <td><%= ride.decorate.duration %></td>
  <td><%= ride.decorate.distance %></td>
  <td><%= ride.decorate.price %></td>
</tr>